name: Go

on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go build -v ./...
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7
          install-only: true
      - run: make lint
  test-and-build:
    strategy:
      matrix:
        go: [ "stable" ]
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    name: test-and-build
    needs: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: |
          go build -v ./...
          go test -v -race ./...
